* {
    margin: 0;
    padding: 0;
}

#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.nav-bar {
    height: 64px !important;
    padding: 25px 0 5px 5px !important;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 9999;
}

.tab-bar {
    position: fixed !important;
    z-index: 9999;
    bottom: 0 !important;
    height: 48px !important;
    width: 100%;
}

.container-nav-tab {
    padding-top: 64px !important;
    padding-bottom: 48px !important;
    width: 100%;
    scrollbar-arrow-color: red;
    overflow-y: scroll; /* 可以滚动 */
    -webkit-overflow-scrolling: touch; /* bounces */
}

.container-nav {
    padding-top: 64px !important;
    width: 100%;
    overflow-y: scroll; /* 可以滚动 */
    -webkit-overflow-scrolling: touch; /* bounces */
}

.pp {
    margin: 0;
    font-size: small;
    /*white-space: pre; !* 多行*!*/
    text-overflow: ellipsis; /*超出的宽度显示省略号*/
    overflow: hidden; /*不超出父元素*/
    -webkit-line-clamp: 5; /*限制最大行数*/
    -webkit-box-orient: vertical;
    display: -webkit-box;
}
